

@import url('https://fonts.googleapis.com/css2?family=Raleway&display=swap');

*{
	font-family: 'Raleway', sans-serif;
}

body, html {
    overflow-x: hidden;
  }
  

.navbar-collapse{
    justify-content: flex-end;
}

.header{
    background:url(https://c.wallhere.com/photos/d0/8b/purple_background_material_style-49320.jpg!d);
    background-attachment: fixed;
    background: cover;
    background-position:center;
    background-repeat:no-repeat ;
    height: 900px;
}
.overlay{
    background:rgb(0 0 0 / 30%) ;
    position: absolute;
    min-width: 100%;
    max-width: 100%;
    left: 0;
    top: 0;
}

.modal{
    justify-content: top right;
}

.github{
    color:grey;
    padding: 8px;
    padding-top: 5px;
}

.github:hover{
    color: rgb(180, 179, 179);
}

.header-content{
    position: absolute;
    text-align: center;
    top: 40%;
    color: white;
    min-width: 100%;
}
.header-content h1{
    letter-spacing: 5px;
}

.navigator,.team{
    padding-top:4em ;
    padding-bottom: 4em;
}

.navigator h1, .team h1{
    padding-bottom: 1em;
}


.next-site{
    text-decoration: none;
    text-align: end;
}

.top-site{
    text-align: top;
    margin-bottom: 100px;
}

.down-site{
    text-align: bottom;
    margin-top: 100px;
}

.img-brand{
    margin-right: -15px;
}

.designations{
    background: #ccc;
    color: black;
    padding-top:4em ;
    padding-bottom: 4em;
}

.feedback{
    background: #343a40;
    color: rgb(255, 255, 255);
    padding-top:4em ;
    padding-bottom: 4em;
}

.example-div{
    font-size:20 ;
}

.team img{
    border: 5px solid black;
}

.personDesc{
    background: #343a40;
    color: lightgray;
}

.personDesc span{
    font-size: 0.8em;
    color: lightgrey;

}

.feedback, .col-sm-4{
    align-self:center ;
}

.facts li{
    padding: 0.7em;
}
.list-group-item{
    background: skyblue;
    border-radius:45px;
    margin: 15px;
    border: gray 1px solid;
}
.list-group{
    background: rgb(223, 223, 223);
}

.validity-1:invalid+span:after {
    content: '✖Your name not fit.';
    color: orange;
    padding-left: 10px;
    
}

.validity-2:invalid+span:after {
    content: '✖Your email not fit.';
    color: orange;
    padding-left: 10px;
    
}

.validity-3:invalid+span:after {
    content: '✖Minimum 5 characters!';
    color: orange;
    padding-left: 10px;
    
}

.validity-4:invalid+span:after {
    content: '✖Minimum 10 characters!';
    color: orange;
    padding-left: 10px;
    
}


.person{
    padding-bottom: 15px;
}

.navi-hr{
    background: grey;
    
}